* {
  box-sizing: border-box;
}

html {
    background-image: linear-gradient(darkslategrey, dimgrey);
    width: 100%;
    height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}

header {
  margin: auto;
}

h1 {
  font-size: 30px;
}

.box {
  margin: auto;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  animation-name: folding-box;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes folding-box {
  from {
    background-color: darkgoldenrod;
    transform: perspective(400px) rotateY(45deg) rotateZ(45deg) scale(0.8,0.8);
  }
  to {
    background-color: goldenrod;
    transform: perspective(600px) rotateY(15deg) rotateZ(15deg) scale(1,1);
  }
}
